[submodule "bundle/vim-colorschemes"]
	path = bundle/vim-colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
[submodule "bundle/jshint2.vim"]
	path = bundle/jshint2.vim
	url = git@github.com:Shutnik/jshint2.vim.git
